<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Empleate.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultasEmpleate</servlet-name>
        <servlet-class>Empleate.controller.consultasEmpleate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Empleate.controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Empleate.controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Vistas</servlet-name>
        <servlet-class>Empleate.controller.Vistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateInf</servlet-name>
        <servlet-class>Empleate.controller.updateInf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCategorias</servlet-name>
        <servlet-class>Empleate.controller.AgregarCategorias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/RegistroCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/RegistroOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultasEmpleate</servlet-name>
        <url-pattern>/consultasEmpleate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultasEmpleate</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultasEmpleate</servlet-name>
        <url-pattern>/consultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vistas</servlet-name>
        <url-pattern>/Vistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vistas</servlet-name>
        <url-pattern>/listarOferentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vistas</servlet-name>
        <url-pattern>/visPubOff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vistas</servlet-name>
        <url-pattern>/visPubCom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vistas</servlet-name>
        <url-pattern>/localizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vistas</servlet-name>
        <url-pattern>/visMan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vistas</servlet-name>
        <url-pattern>/ListarEmpr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vistas</servlet-name>
        <url-pattern>/activarAC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInf</servlet-name>
        <url-pattern>/updateInf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInf</servlet-name>
        <url-pattern>/UpdateInfOfferer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInf</servlet-name>
        <url-pattern>/UpdateInfCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCategorias</servlet-name>
        <url-pattern>/AgregarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCategorias</servlet-name>
        <url-pattern>/agregarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCategorias</servlet-name>
        <url-pattern>/redireccionar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCategorias</servlet-name>
        <url-pattern>/agregarHabilidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCategorias</servlet-name>
        <url-pattern>/redireccionarHabilidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCategorias</servlet-name>
        <url-pattern>/agregarPuestos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCategorias</servlet-name>
        <url-pattern>/redireccionarPuestos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
