

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.input-field label{
color:black;
}
.gm-style{
  position: relative;
  z-index: 0;
  left: 0px;
  top: 0px;
  height: 100%!important;
  width: 100%!important;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  display: block;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #ffff!important;
  font-family: Roboto!important;
  font-size: 15px!important;
  font-weight: 200!important;
  margin-left: 12px!important;
  padding: 0 11px 0 13px!important;
  text-overflow: ellipsis!important;
  height: 30px!important;
  width: 150px!important;
}

#pac-input:focus {
  border-color: #4d90fe!important;
}

.pac-container {
  font-family: Roboto!important;
}

#type-selector {
  color: #fff!important;
  background-color: #4d90fe!important;
  padding: 5px 11px 0px 11px!important;
}

#type-selector label {
  font-family: Roboto!important;
  font-size: 13px!important;
  font-weight: 300!important;
}
#target {
  width: 345px!important;
}
