


.cuerpo{
    height: auto;
    box-shadow: 8px 8px 13px #999;
    margin-top: 20px;
}
.input-field label{
    color:black;
}

p,h1{
    margin: 0;
}

.error p{
    color:red;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 65%;
    position: static!important;
    overflow: visible!important;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.gm-style-iw{
    color:black!important;
}
.input-field label{
    color:black;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    color:black;
}

#pac-input {
    background-color: #ffff!important;
    font-family: Roboto!important;
    font-size: 15px!important;
    font-weight: 200!important;
    margin-left: 12px!important;
    padding: 0 11px 0 13px!important;
    text-overflow: ellipsis!important;
    height: 40px!important;
    width: 500px!important;
    left:0px!important;
}

#pac-input:focus {
    border-color: #4d90fe!important;
}

.pac-container {
    font-family: Roboto!important;
}

#type-selector {
    color: #fff!important;
    background-color: #4d90fe!important;
    padding: 5px 11px 0px 11px!important;
}

#type-selector label {
    font-family: Roboto!important;
    font-size: 13px!important;
    font-weight: 300!important;
}
#target {
    width: 345px!important;
}
.input-field label{
    color:black;
}

.btn{
    text-align:center;
}
.modal.open{
    background-color:#53167dcc;
    border-radius: 15px;
    width: 450px;
    height: 500px;
}
